<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Information and Form</title>
	
	<!--JQUERY-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script 
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

	<script type="text/javascript">
	    $(document).ready(function() {
	        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #MyList
	        $('#userList').DataTable();
	        $('#MyList').DataTable();

	    } );
	</script>
</head>
<body>
	<div class="container">

	<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
		<br>
		<div  align="left">
			<b><label>Logined : <%= user.name %></label><b>
		</div>
		<div  align="right">
			<a  href="/logout"><button  align="center"type="button" class="btn btn-success">Log Out</button></a>
		</div>
		
		<ul class="nav nav-tabs justify-content-end">
			<li class="nav-item">
			<a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Book Catalogue</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">My Books</a>				   	
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
				<div class="card">
					<div class="card-header">
						<h4>Book List</h4>
					</div>
					<div class="card-body">
                        
				<a href="/books/create"><button type="button" class="btn btn-success">Create Book</button></a>
                        <br><br>
						<div class="table-responsive">
							<table id="userList" class="table table-bordered table-hover table-striped">
								<thead class="thead-light">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Publisher</th>
									<th scope="col">ISBN</th>
									<th scope="col">Action </th>
								</tr>
								</thead>
								<tbody>
                                    
                                    <%
                                    books.forEach(function(book) {  %>
                                    <tr>
									<td><%= book.name %></td>
									<td><%= book.publisher %></td>
									<td><%= book.isbn %></td>
									<td><a 
										href="/books/addMybook?id=<%=book._id%>"><button type="button" class="btn btn-success">Add</button></a></td>
                                    </tr>
                                    <%  });
                                    %>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
				<div class="card">
					<div class="card-header">
						<h4>Book List</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="MyList" class="table table-bordered table-hover table-striped">
								<thead class="thead-light">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Publisher</th>
									<th scope="col">ISBN</th>
									<th scope="col">Action </th>
								</tr>
								</thead>
								<tbody>
                                    
                                    <%
                                    mybook.forEach(function(book) {  %>
                                    <tr>
									<td><%= book.name %></td>
									<td><%= book.publisher %></td>
									<td><%= book.isbn %></td>
									<td><a 
										href="/books/delMybook?id=<%=book._id%>"><button type="button" class="btn btn-success">delete</button></a></td>
                                    </tr>
                                    <%  });
                                    %>
								</tbody>
							</table>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</body>
